<div class="input">
    <label for="{{id}}" class="input__label label">{{label}}</label>
    <input
        class="input__control {{class}}"
        type="{{type}}"
        id="{{name}}"
        name="{{name}}"
        placeholder="{{placeholder}}"
        value="{{value}}"
    />
    <span class="input__error label">{{error}}</span>
</div>
