<div class="avatar">
    {{#if src}}
    <img class="avatar__img" src="{{src}}" alt="{{#if author}}{{author}} avatar{{else}}avatar{{/if}}" />
    {{else}}
    <span class="avatar__initial">{{initial}}</span>
    {{/if}}
</div>
