<button
    class="button {{class}}"
    id="{{id}}"
    type="{{type}}"
    {{#if disabled}}disabled{{/if}}
    {{#if onclick}}onclick="{{onclick}}"{{/if}}
>
    {{#if icon}}
        <span class="button__icon">{{icon}}</span>
    {{/if}}
    {{text}}
    {{#if loading}}
        <span class="button__loading"></span>
    {{/if}}
</button>