<div class="input">
    <label for="{{name}}" class="input__label label">{{label}}</label>
    <input
        class="input__control {{class}} {{#if error}}input__control--error{{/if}}"
        type="{{type}}"
        id="{{id}}"
        name="{{name}}"
        placeholder="{{placeholder}}"
        {{#if value }}
            value="{{value}}"
        {{/if}}
    />
    {{#if error}}
        {{#unless hideError}}
            <span class="input__error label">{{error}}</span>
        {{/unless}}
    {{/if}}
</div>
