<button
    class="button{{#if icon}} button--icon{{/if}}{{#if active}} button--active{{/if}}{{#if class}} {{class}}{{/if}}"
    id="{{id}}"
    type="{{type}}"
    {{#if onclick}}onclick="{{onclick}}"{{/if}}
>
    {{#if icon}}
       {{{icon}}}
    {{/if}}
    {{text}}
</button>
