<form class="profile__form card">
  <div class="wrapper wrapper--gap-max">
    <div class="wrapper wrapper--gap-min">
      {{{ FirstNameInput }}}
      {{{ SecondNameInput }}}
      {{{ DisplayNameInput }}}
      {{{ EmailInput }}}
      {{{ PhoneInput }}}
      {{{ LoginInput }}}
    </div>
  </div>
  <div class="profile__actions wrapper wrapper--gap-min">
    {{{ SaveButton }}}
    {{{ ChangePasswordButton }}}
  </div>
</form>
