<form class="register__form card">
  <div class="wrapper wrapper--gap-max">
    <h1 class="login__heading u-text-center">Регистрация</h1>
    <div class="wrapper wrapper--gap-min">
      {{{ FirstNameInput }}}
      {{{ SecondNameInput }}}
      {{{ LoginInput }}}
      {{{ EmailInput }}}
      {{{ PasswordInput }}}
      {{{ PhoneInput }}}
    </div>
  </div>
  <div class="wrapper wrapper--gap-min">
    {{{ RegisterButton }}}
    {{{ LoginButton }}}
  </div>
</form>